* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}



input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-form-container {
  background: #3F72AF;
  height: 100vh;
}

.heading {
  font-size: 45px;
  font-weight: 700;
  line-height: 96.82px;
  text-align: center;
  color: white;
}

.form-container {
  width: 756px;
  height: 514px;
  margin: 0 auto;
  border-radius: 18px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container .heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 62.08px;
  letter-spacing: -0.05em;
  text-align: center;
  color: black;
}

.form-container .info {
  font-size: 25px;
  font-weight: 400;
  line-height: 32.55px;
  letter-spacing: -0.04em;
  text-align: center;
  width: 585px;
  height: 66px;
  color: #BFBFBF;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.otp-input-container {
  display: flex;
  gap: 1rem;
}

.otp-input {
  width: 90px;
  height: 100px;
  border-radius: 12px;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: -0.04em;
  text-align: center;
  background: #DBE2EF;
  border: none;
}

.otp-input:focus {
  outline: 1px solid rgb(54, 54, 199);
}

.verify-button {
  background: #112D4E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 417px;
  height: 64px;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.55px;
  letter-spacing: -0.04em;
  text-align: center;
}

.green {
  background-color: #23CF9B;
}

.red {
  background-color: #EB2D5B;
}

.resend {
  width: 585px;
  height: 33px;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.55px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #BFBFBF;
}

.resend>span {
  color: black;
}

.valid {
  outline: 2px solid #23CF9B;
}

.invalid {
  outline: 2px solid red;
}

/* drag and drop  */

.drag-drop-container {
  background: hsl(98, 33%, 84%);
}

.course-heading {
  color: #4F6F52;
}

.course-container {
  max-width: 1150px;
  border-radius: 18px;
  background-color: white;
  margin-inline: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.course-container>h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 48.41px;
  text-align: left;
}

.course-container>p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #4B4747;
}

.course-list {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.course-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr 8fr 2fr 1fr 0.5fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.course-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.course-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 24.2px;
}

.course-price {

  font-size: 17px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;

}

.course-type {
  width: 74px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.94px;
  border: 0.2px solid #7E7E7E;
  text-align: center;
  background: #DBFFCE;
  padding: 1px;
}

.course-image {
  width: 133px;
  height: 75px;
  border-radius: 8px;
}

.threeDots:hover {
  cursor: pointer;
}

.course-card-actions {
  width: 130px;
  height: 90px;
  position: absolute;
  border-radius: 8px;
  background-color: white;
  z-index: 1000;
  display: flex;
  top: 60px;
  right: -70px;
  flex-direction: column;
  padding: 8px;
  gap: 7px;
  box-shadow: 1px 1px 8px 0px #00000040;
}

.course-card-actions>div {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  display: flex;
  gap: 10px;
  align-items: center;
}

.course-card-actions>div:hover {
  cursor: pointer;
}

.course-card-actions>.remove {
  color: #FA2D2D;
}

/* Batches list */
.batches-container {
  background: #E2BBE9;
}

.batches-container>h1 {
  color: #444B79;
}

.search-input {
  width: 332px;
  height: 43px;
  padding-inline: 10px;
  border-radius: 4px;
  border: 1px solid #BEBEBE
}

.search-button {
  width: 116px;
  height: 43px;
  color: white;
  border-radius: 4px;
  background: #6C6BAF;
  box-shadow: 1px 1px 2px 0px rgba(230, 220, 220, 0.2);
  margin-left: 20px;
}

.table-container {
  margin-top: 20px;

}

.batches-table {
  width: 100%;
  border-collapse: collapse;

}

.batches-table-head {
  background: #F2F2F2;
}

.batches-table-head th {
  padding: 10px;
  border: 1px solid #ddd;
}

.batches-table-body td {
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.batch-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.batch-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}

.batch-img {
  width: 106px;
  height: 60px;
  border-radius: 8px;
}

.status {
  width: 82px;
  height: 27px;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
}

.published {
  background-color: #deffde;
  border: 1px solid #4ED04B;
}

.unpublished {
  background-color: #f3f3f3;
  border: 1px solid #A4A4A4
}

.batches-table-body tr:last-child td {
  border-bottom: 1px solid #ddd;
}

.pagination-actions {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 10px;
}

.pagination-actions p {
  width: 113px;
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #4B4747;
}

.pagination-nav {
  background-color: transparent;
  border: none;
  outline: none;
}